header{
    position: static; /* override the shared style by setting it to the default value)*/
    background: linear-gradient(45deg, rgba(188, 235, 232, 0.3),rgba(6, 164, 154, 0.757));
}
main{
    margin: 0 auto;
}
#gallery ul{
    padding: 1.5rem 0%;
    width: 93rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 3rem;
}
li:nth-of-type(3){
    grid-column: 1 / span 2;
}
li:nth-of-type(10){
    grid-column: 1 / span 2;
}
#gallery li{
    display: flex;
    background-color: rgba(124, 123, 123,0.2);
    box-shadow: 1px 1px 4px rgba(0, 0, 0),0.2;
    border-radius: 6px;
    overflow: hidden;
    padding: 10px;
}
#gallery li img{
    width: 18.75rem;
    height: 17.5rem;
    object-fit: cover;
}
.item-content{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.actions{
    text-align: right;
}
.actions a{
    color: rgb(22, 211, 228);
    padding: 0.375rem;
    text-shadow: none;
    border-radius: 3px;
}
.actions a:hover{
    color: rgba(22, 211, 228, 0.614);
}
@media (max-width: 48rem) {
    .navlist {display: none;}
    #gallery ul{grid-template-columns: 100%;}
    li:nth-of-type(3){grid-column: 1;}
    li:nth-of-type(10){grid-column: 1;}
    #gallery-card li {width: 50%;}
    .menu-btn{display: flex;}
}